*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

.allheadings{
  color: #483D8B;
  margin-left:300px;
  margin-right:300px;
  margin-top: 50px;
  padding: 0px;
  padding-bottom: 10px;
  /* border: 2px dashed black; */
  display: flex;
  flex-direction:column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-color:#F7F5EB;
  border-radius: 50px;
}

.message{
  display:flex;
  justify-content:center;
  font-size: 30px;
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
}
.heading{
  display:flex;
  justify-content:center;
  font-size:75px;
  font-family: 'Quicksand', sans-serif;
}

.subheading{
  display:flex;
  justify-content:center;
  font-size:30px;
  font-family: 'Quicksand', sans-serif;
}

body{
  background-color:#EBDAF7;
}

button{
  font-size:30px;
  background-color:#9AC0FC;
  border:2px solid black;
  border-radius:4px;
  padding:10px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
}

.button{
  display:flex;
  justify-content:center;
  font-family: 'Quicksand', sans-serif;
}

img{
  width: 400px;
  height: 400px;
  object-fit:cover;
}

.image{
  display:flex;
  justify-content: center;
}

/* @media screen and (max-width:985px) {
  .allheadings{
    font-size:50%;
  }
} */
